.center {
  text-align: center
}

body {
  height: 100%;
  background-color: #8CC63F;
}

h1, button {
  font-family: 'cooper-black-std';
  /* font-family: 'Peralta' !important; */
}

.mapdiv {
  background-size: cover;
}

/* .navbar, .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
}

.navbar .navbar-collapse {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
} */

/* .navbar-custom {
    background-color: rgba(140,198,63,0);
} */

.bg-main {
  background-image: url("../imgs/general_background4lo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #8CC63F;
}

.bg-compact {
  background-image: url("../imgs/compact_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #8CC63F;
}

.bg-header {
  background-image: url("../imgs/compact_header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #8CC63F;
  width: 100%;
  height: 100%;
  padding-top: 20.78125%;
}

.hidden-image {
  visibility: hidden;
}

.bg-map-1 {
  background-image: url("../imgs/Map1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg-map-2 {
  background-image: url("../imgs/Map2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-map-3 {
  background-image: url("../imgs/Map3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-map-full {
  background-image: url("../imgs/MapFull.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #000000; */
  /* margin-right: 10px; */
}

.media-height {
  height: 1605px;
}

.card, .media-card {
  margin: 10px;
  margin-top: 6%;
  background-color: transparent;
  border: transparent;
  /* flex: 1; */
  flex-basis: 25%;
}
img {
  /* max-height: 250px; */
  height: 250px;
  width: 250px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
/* .lightbox-dim {
  height: 250px;
  width: 250px;
} */
.d-md-flex {
  flex-flow: row wrap
}

iframe {
  height: 250px;
  object-fit: contain;
}

.ticket-button {
  position: absolute;
  right:20;
  bottom: 20;
}

.fill-100 {
  height: 100%;
  width: 100%;
}

.align-ticket {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.ticket{
  max-width: 100%;
  max-height: 100%;
}

.max-1080 {
  max-height: 1080px;
}

/*make dropup background transparent */
.dropdown-menu, .dropdown-menu:hover, .dropdown-menu:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

.dropdown-menu > li > a:hover {
    background-color: transparent !important;
}

/* .height-50px {
  height: 50px;
} */

/* Sizes navbar toggle button and removes border */
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border-color: transparent !important;
  height: 50px;
  width: 95px;
}

/* .ticket{
  height: 150px;
}
.ticket > img {
  height: 100%
}
@media screen and (max-width: 1080px) {
    .ticket >img {
         height: 100px;
    }
}@media screen and (max-width: 820px) {
    .ticket >img {
         height: 75px;
    }
}
@media screen and (max-width: 660px) {
    .ticket >img {
         height: 50px;
    }
} */
